[% META title="Error" %]

[% IF errors %]
    <div class="error">
        Error: <div style="white-space: pre; font-family: monospace">[% errors | html %][% error | html %]</div>
    </div>
[% ELSE %]
    <p>
        Sorry, we encountered an error.
    </p>
[% END %]

[%# IF Catalyst.debug OR Catalyst.config.show_errors OR Catalyst.req.param('debug') %]
    [% error %]
[%# END %]