<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>[% c.config.site.title | html %][% " | ${template.title}" | html IF template.title %]</title>

        [% INCLUDE resources.tt2 %]

        [% IF viewport_width %]
           <meta name="viewport" content="width=[% viewport_width %],user-scalable=yes" />
        [% END %]

        <script>
            [% c.jsconfig %]
        </script>

    </head>
   
    <body>
        [% content %]
    </body>
</html>
