[% IF template.title %]
    <h1>[% template.title | html %]</h1>
[% END %]

<fieldset data-role="fieldcontain">
    <form action="[% action | html_entity %]" method="post">
        [% content %]

        <div data-role="fieldcontain">
          <a href="#" data-role="button" data-rel="back" data-inline="true" data-icon="back" data-theme="c">Cancel</a>
          <input type="submit" data-role="button" data-theme="b" data-inline="true" value="OK" />
        </div>
    </form>
</fieldset>

