[%
    META
        id="edit_camera_dialog"
        title="Edit Camera";

    WRAPPER wrapper/form.tt
        action = c.uri_for("/camera/${camera.id}/edit");
%]

<a data-role="button" href="#" data-inline="true"
    class="delete_camera_button" data-camera-id="[% camera.id | html_entity %]">Delete</a>

[% END # form wrapper %]